page-tabs {
ion-icon.tab-button-icon.icon.icon-md.ion-md-contacts::before{
  color: #fff3e0;
}
  ion-icon.tab-button-icon.icon.icon-md.ion-md-contact::before{
    color: #fff3e0;
  }
  ion-icon.tab-button-icon.icon.icon-md.ion-md-chatbubble::before{
    color: #fff3e0;
  }
  span.tab-button-text{
    color: #fff3e0;
  }
}

