page-groupchat {
  .jas{
    background-color: #fb9996;
    //height:200px;
    // width:200px;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    border-radius: 15%;

    border: 4px solid #fb9996;
    // -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    // box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
  }

  .ti{
    background-color: #fff3e0;
    // height:200px;
    // width:200px;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    border-radius: 15%;
    border: 4px solid #fff3e0;
    // -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    // box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);

  }

}
